api:
  image: rasca0027/ip2nation:v1
  volumes:
    - .:/home/ 
  working_dir: /home/
  command: python manage.py runserver
  ports:
    - "8000:8000"
  links:
    - mysql
mysql:
  image: mysql:5.5
  environment: 
    - MYSQL_ROOT_PASSWORD=root


